:root {
    --cinza-claro: #ded9da;
    --branco: #ffffff;
    --cor-texto: #17143f;
    --vermelho: #b51d44;
    --vermelho-escuro: #821b47;
    --azul-claro: rgba(0, 80, 251, 0.21);
}

.home-visao-container
.home-eventos,
.home-contato-container{
    width: min(1220px, calc(100% - 48px));
    margin: 0 auto;
    padding: 64px 0;
}

.home-visao {
    width: 100%;
    background-color: var(--vermelho);
    padding: 64px 0;
}

.home-visao img {
    max-width: 250px;

}

.home-visao-container {
    width: min(1220px, calc(100% - 48px));
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.home-visao-texto {
    color: var(--branco);
    max-width: 500px;
}

.home-eventos-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 32px;
}


.home-contato {
    background: var(--vermelho);
}

.home-contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-contato-titulo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.home-contato-titulo h2 {
    color: var(--branco);
}

.home-contato-titulo hr {
    border: 1px solid var(--branco);
    min-width: 150px;
}

.home-contato-conteudo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    color: var(--branco);
    text-align: center;
    align-items: center;
}

.home-contato-conteudo iframe {
    width: 50%;
    height: 50vh;
}

.home-footer{
    padding: 24px;
    text-align: center;
    background: var(--branco);
    color: var(--cor-texto);
}

.home-eventos-titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    width: min(1220px, calc(100% - 48px));
    margin: 0 auto;
    padding: 64px 0;
}

.home-eventos-titulo hr {
    color: var(--vermelho);

}

.home-eventos-lista {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    margin-top: 32px;
}

