*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-width: 320px;

  min-height: 100vh;

  font-family: "Poppins", Arial, sans-serif;

  color: #151515;
  background : #ffffff
}

img {
    display: block;
    max-height: 100%;
}

a,
button,
input,
select,
textarea {
    font: inherit
}